* { box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.hidden {
    display: none !important;
}
.entrance {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.entrance img {
    margin-top: 72px;
    margin-bottom: 94px;
}
.entrance input {
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    outline-color: lightgray;
    font-size: 18px;
    line-height: 25px;
}
.entrance input::placeholder {
    color: #b3b3b3;
}
.entrance button{
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    color: #696969;
    margin-top: 15px;
    border: none;
    font-size: 18px;
    line-height: 25px;
}
.entrance button:hover{
    cursor: pointer;
}
.loading-entrance{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.loading-entrance img {
    margin-top: 72px;
}
.loading-entrance p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

header {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    width: 100%;
    height: 80px;
    padding: 0px 22px 0px 22px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img {
    width: 75px;
    height: 53px;
}
header ion-icon {
    font-size: 40px;
}
header ion-icon:hover{
    cursor: pointer;
}
main {
    padding: 106px 0px 106px 0px;
    background-color: #f3f3f3;
    min-height: 100vh;
}
main li {
    background-color: white;
    margin-bottom: 4px;
    padding: 10px 9px 10px 9px;
}
main p {
    line-height: 20px;
    word-wrap:break-word;
}
p .time {
    color: #b9b9b9;
}
p .from {
    font-weight: 700;
}

.gray {
    background-color: #dcdcdc;
}
.pink {
    background-color: #ffdede;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer div {
    display: flex;
    height: 100%;
}
footer div input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline-color: white;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    font-size: 18px;
}
footer div input::placeholder {
    color: black;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 21px;
    padding-bottom: 10px;
}
footer div ion-icon {
    position: absolute;
    right: 18px;
    bottom: 27px;
    font-size: 26px;
}
footer div ion-icon:hover{
    cursor: pointer;
}
.message-input-underlinetext {
    font-size: 16px;
    line-height: 25px;
    color: #505050;

    position: fixed;
    z-index: 2;
    left: 25px;
    bottom: 12px;
}

.contact-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.contact-screen ion-icon {
    font-size: 25px;
    padding-right: 8px;
}
.CS-R-side {
    position: relative;
    width: 69%;
    min-height: 100vh;
    padding: 0px 18px 0px 18px;
    background-color: white;
}
.CS-R-side h1 {
    font-weight: 700;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}
.CS-R-side h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
}
.people-online {
    overflow-y: auto;
    height: 300px;
}
.CS-RS-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 0px 18px 0px 18px;
}
.CS-L-side {
    width: 31%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 4.25px 0px 4.25px 0px ;
    justify-content: space-between;
}
.row:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}
.v-check {
    color: #28BB25;
    padding-left: 8px;
}
.v-check ion-icon {
    font-size: 17px;
}
